/* ------------ reset code  ------------ */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}


/* own css code */

/*
  colors
*/
:root {
  --jet: hsla(0, 0%, 20%, 1);
  --turquoise: hsla(167, 69%, 90%, 1);
  --cultured: hsla(20, 1%, 99%, 1);
  --unbleached-silk: hsla(24, 22%, 95%, 1);
  --davys-grey: hsla(0, 0%, 37%, 1);  
}

body {
  font-family: 'Spartan', sans-serif;
  background-color: var(--davys-grey);
  color: var(--unbleached-silk);
  height: 100%;
}

header {
  background-color: var(--jet);
  font-size: 20px;
  line-height: 40px;
  font-weight: 600;
}

header > div {
  margin: auto;
  max-width: 1440px;
  text-align: center;
}

.app {
  max-width: 1440px;
  margin: auto;
}

.invesment-fund {
  max-width: 720px;
  display: inline-block;
  min-height: 130px;
  padding: 10px;
  border-bottom: 1px solid #ffffff10;
}