/* ------------ reset code  ------------ */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}


/* own css code */

/*
  colors
*/
:root {
  --jet: hsla(0, 0%, 20%, 1);
  --turquoise: hsla(167, 69%, 90%, 1);
  --cultured: hsla(20, 1%, 99%, 1);
  --unbleached-silk: hsla(24, 22%, 95%, 1);
  --davys-grey: hsla(0, 0%, 37%, 1);  
}



body {
  font-family: 'Spartan', sans-serif;
  background-color: var(--davys-grey);
  color: var(--unbleached-silk);
}

.main {
  max-width: 1200px;
  margin: auto;
}

header {
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
}